# Xcode / Swift
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate

# Swift build artifacts
*.d
*.o
*.swiftdeps
*.swiftconstvalues
*.dia
*.swiftmodule
*.swiftsourceinfo

# macOS
.DS_Store
